*.deps
*.libs
*.o
.libs
_libs
*.lo
*.la
*.rc
*~
vti.tmp
html
.cproject
.project
*Makefile
stamp-*
*.log
*.pc
autom4te.cache/
config.status
MHD_config.h

doc/examples/basicauthentication
doc/examples/hellobrowser
doc/examples/largepost
doc/examples/logging
doc/examples/responseheaders
doc/examples/sessions
doc/examples/simplepost
libtool
src/examples/authorization_example
src/examples/benchmark
src/examples/benchmark_https
src/examples/digest_auth_example
src/examples/dual_stack_example
src/examples/fileserver_example
src/examples/fileserver_example_dirs
src/examples/fileserver_example_external_select
src/examples/minimal_example
src/examples/minimal_example_comet
src/examples/post_example
src/examples/querystring_example
src/examples/refuse_post_example
src/examples/spdy_event_loop
src/examples/spdy_fileserver
src/examples/spdy_response_with_callback
